.coin-container{
    display:flex;
    justify-content:center;
}

.coin-row{
    display: flex;
    flex-direction:row;
    justify-items:start;
    align-items:center;
    height:80px;
    border-bottom:1px solid #d7d7d7;
    width:800px;
}

.coin{
    display:flex;
    align-items:center;
    padding-right:10px;
    min-width:300px;

}
.coin h1{
    height:16px;
    width:200px;
    margin-right:0px;
}

.coin img{
    height:30px;
    width:30px;
    margin-right:10px;
}

.coin-symbol{
    text-transform:uppercase;
}

.coin-data{
    display: flex;
    text-align:center;
    justify-content: space-between;
    width:100%;

}

.coin-volume{
    width:230px;
}

.coin-marketcap{
    width: 135px;
}

.coin-percent{
    width:100%;
}
.red{
    color: #f006f0;

}
.green{
    color:#11d811

}